@media screen {
  h1 {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }

  h2 {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  #lead {
    width: 100%;
  }
  h3 {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
    margin-bottom: 30px;
  }
  #content {
    font-family: "Nunito Sans", sans-serif;
    padding-right: 50px;
    padding-left: 50px;
  }
  #topper {
    background-color: #b8d2df;
  }
  .pullquote {
    border-left: 8px solid black;
  }
  .quote {
    font-size: 25px;
    line-height: 1.5em;
    font-family: "Nunito Sans", sans-serif;
  }
  .name {
    padding-left: 10px;
    font-family: "Nunito Sans", sans-serif;
  }
  .quotemark {
    font-size: 120px;
    margin-top: 10px;
    float: left;
    padding: 15px 0px 0px 0px;
  }
  .before-quote {
    padding-bottom: 20px;
  }
  .disclaimer {
    font-style: italic;
  }
  .disclaimer a {
    color: black;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 576px) {
  h1 {
    margin-top: 80px;
  }
  #content {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (min-width: 768px) {
  h1 {
    margin-top: 170px;
  }
  #content {
    padding-right: 250px;
    padding-left: 250px;
  }
}
