/*
 * Color Palette
 * #04377b
 * #d1e6f6
 * #ffffff
 * #000000
 */

h1 {
    color: #000000;
    font-family: "Michroma", serif;
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-family: "Nunito Sans", serif;
    text-align: center;
    margin-bottom: 50px;
}

img {
    width: 70%;
    border-radius: 10px;
    margin:auto;
    display:block;
    margin-top: 30px;
}

.button {
    width: 80%;
    padding: 20px;
    background-color: #04377b;
    color: white;
    margin-top: 60px;
    margin-left: 30px;
    text-align: center;
    font-family: "Nunito Sans", serif;
    font-size: 20px;
    border-radius: 30px;
    margin: auto;
    display: block;
    text-decoration: none;
}

body {
    background-color: #d1e6f6;
}

#navigation {
    text-align:center;
    margin-top: 20px;
    background-color: #04377b;
    color: white;
    padding: 10px;
}

    #navigation a {
        color:white;
        text-decoration: none;
    }
        #navigation a:hover {
        color:white;
        text-decoration: underline;
    }
h4 {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-family:"Michroma", serif;
    font-size: 30px;
    font-weight: bold;
}
h5 {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    font-family:"Michroma", serif;
    font-size: 30px;
    font-weight: bold;
    }
h6{
    background-color: white;
    margin-top: 100px;
    margin-bottom: 15px;
    width: 100%;
    font-family:"Michroma", serif;
    font-size: 30px;
    font-weight: bold;
    }
p {
    font-family: "Nunito Sans", serif;
    text-align: center;
    font-size: 20px
}

    .jobtitle {
       font-weight: bold; 
        margin-bottom: 8px;
    }
    .organization {
        font-weight: bold;
        margin-bottom:8px;
    }
    .date {
        font-weight: bold;
    }
    li {
    font-family: "Nunito Sans", serif;
        margin-left: 15px;
        font-size: 20px;
    }
.button:hover {
    background-color: #8facbf;
}
@media (min-width:768px) {
    h1 {
        font-size: 40px;
    }
    img {
        width: 85%;
    }
}